<%= form_with model: @project, local: true do |f| %>
  <%= render 'errors', locals: {project: @project} %>

  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div>
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
