<div class='row'>
  <div class='col-md-9 col-xs-12'>
    <div class='d-flex-space-between mb-2'>
      <%= render 'bugs/report_bug', local: {id: @project.id} %>

      <div>
        <h2><%= @project.title %></h2>
        <p>(<%= link_to 'See Bugs', project_bugs_path(@project.id) %>)</p>
        <p><strong>Created by: </strong><%= @project.creator.name %></p>
        <span><%= creator_policy_check @project, (link_to 'Edit', edit_project_path(@project.id), class: 'mr-1') %></span>
        <span><%= creator_policy_check @project, (link_to 'Delete', project_path(@project.id), method: :delete, data: { confirm: 'Are you sure?' }) %></span>
      </div>
    </div>

    <%= render partial: 'project_users/index', locals: { users: @users, project: @project } %>

    <%= paginate @users %>
  </div>

  <div class='col-md-3 col-xs-12'>
    <%= creator_policy_check @project, add_user_form(@project.id) %>
  </div>
</div>
