<div class="d-flex-space-between">
  <div>
    <h2><strong><%= @project.title %></strong> (<%= link_to 'See Bugs', project_bugs_path(@project.id) %>)</h2>
    <p><strong>Created by: </strong><%= @creater.name %></p>
    <span><%= link_to 'Edit', edit_project_path(@project.id), method: :get if @creater.id == current_user.id %></span>
    <span><%= link_to 'Delete', project_path(@project.id), method: :delete, data: { confirm: 'Are you sure?' } if @creater.id == current_user.id %></span>
  </div>
  <div>
    <%= form_with url: project_add_member_path(@project.id) do |f| %>
      <div class="form-group">
        <%= f.label :add_members %>
        <%= f.select :member, options_for_select(User.where('user_type <> 1 AND id NOT IN (?)', @project.users.ids).map { |user| [user.name, user.id] }), {prompt: "Select Developer/QA..."}, class: "form-control" %>
      </div>

      <div class="form-group">
        <% if @creater.id == current_user.id %>
          <%= f.submit :Add, class: 'btn btn-primary' %>
        <% else %>
          <%= f.submit :Add, class: 'btn btn-primary', disabled: true %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'users/index', locals: {users: @project.users, creater_id: @creater.id } %>
