<%= form_with model: [ @project, @project.bugs.build ], local: true do |f| %>
  <% if !@bug.nil? %>
    <ul>
    <% @bug.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :deadline %>
    <%= f.date_field :deadline %>
  </div>

  <div>
    <%= f.label :screenshot %>
    <%= f.file_field :screenshot %>
  </div>

  <div>
    <%= f.label :type %>
    <%= f.select :_type, options_for_select(Bug._types.map { |key, value| [key.humanize, key] }), {prompt: "Select Type of Bug..."} %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.select :status, options_for_select(Bug.statuses.map { |key, value| [key == '_new' ? 'New' : key.humanize, key] }), {prompt: "Select Status of Bug..."} %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
