<%= form_with model: [@project, @bug], local: true do |f| %>
  <%= render 'errors', locals: {bug: @bug} %>

  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :deadline %>
    <%= f.date_field :deadline, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :screenshot %>
    <%= f.file_field :screenshot, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :type %>
    <%= f.select :bug_type, options_for_select(Bug.bug_types.map { |key, value| [key.humanize, key] }), {prompt: 'Select Type of Bug...'}, class: 'form-control' %>
  </div>

  <div>
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
