<%= render 'report_bug', local: {id: @project.id} %>
<h2>Bugs (<%= @bugs.total_count %>)</h2>
<%= paginate @bugs %>
<div class='line'></div>
<%= paginate @bugs %>
<%= render partial: 'bug', collection: @bugs, as: :bug if !@bugs.empty? %>
