<%= render partial: 'bug_nav_links', locals: {id: @project.id} %>

<%= render 'shared/flash_errors' %>

<%= created_or_assigned_projects(@project, @own_bugs) %>

<div class='d-flex-space-between'>
  <h2>Bugs</h2>
  <%= show_if_qa create_link_button new_project_bug_path(@project.id) %>
</div>
<div class='line'></div>

<%= render partial: 'bug', collection: @bugs, as: :bug %>

<%= paginate @bugs %>
