<%= render partial: 'bug_nav_links', locals: {id: @project.id} %>

<div class='row'>
  <div class='col-md-6 col-xs-12'>
    <h2><%= @bug.title %></h2>
    <p><%= show_if_qa link_to 'Delete', project_bug_path(@project.id, @bug.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <p><strong>Reported by: </strong><%= @bug.creator.name %></p>
    <p><strong>Assigned to: </strong><%= assignee_name_or_none @bug.assignee %></p>
    <p><strong>Type: </strong><%= @bug.bug_type.humanize %></p>
    <p><strong>Status: </strong><%= fresh_to_new_or_humanize @bug.status %></p>
    <p><strong>Deadline: </strong><%= @bug.deadline %></p>
    <p><%= @bug.description %></p>
  </div>
  <div class='col-md-6 col-xs-12'>
    <%= screenshot_url(@bug) %>
    <%= assign_bug_form(@project, @bug) %>
  <div>
</div>

