<div class='d-flex-space-between'>
  <div>
    <h2><strong><%= @bug.title %></strong></h2>
    <% if @bug.user.qa? %>
      <p><strong>Reported by: </strong><%= @bug.user.name %></p>
    <% else %>
      <p><strong>Assigned to: </strong><%= @bug.user.name %></p>
    <% end %>
    <p><strong>Deadline: </strong><%= @bug.deadline %></p>
    <span><%= link_to 'Delete', project_bug_path(@project.id, @bug.id), method: :delete, data: { confirm: 'Are you sure?' } if current_user.qa? %></span>
    <p><%= @bug.description %></p>
  </div>

  <div>
    <%= form_with model: [@project, @bug] do |f| %>
      <div class='form-group'>
        <%= f.label :status %>
        <% if @bug._type == 'feature' %>
          <%= f.select :status, options_for_select(Bug.statuses.filter{ |key, value| value != 3 && @bug.status != key }.map { |key, value| [key == '_new' ? 'New' : key.humanize, key] }), { include_blank: @bug.status.humanize }, class: 'form-control' %>
        <% else %>
          <%= f.select :status, options_for_select(Bug.statuses.filter{ |key, value| value != 2 && @bug.status != key }.map { |key, value| [key == '_new' ? 'New' : key.humanize, key] }), { include_blank: @bug.status.humanize }, class: 'form-control' %>
        <% end %>
      </div>

      <div class='form-group'>
        <% if current_user.developer? && (@bug.user_id == current_user.id || @bug.user.qa?) %>
          <%= f.submit 'Change Status', class: 'btn btn-primary' %>
        <% else %>
          <%= f.submit 'Change Status', class: 'btn btn-primary', disabled: true %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<img src=<%= url_for(@bug.screenshot) if @bug.screenshot.attached? %> class = 'media-object' width = '100%'>
