<%= render 'report_bug', local: {id: @project.id} %>

<div class='d-flex-space-between'>
  <div>
    <h2><%= @bug.title %></h2>
    <p><%= link_to 'Delete', project_bug_path(@project.id, @bug.id), method: :delete, data: { confirm: 'Are you sure?' } if current_user.qa? %></p>
    <p><strong>Reported by: </strong><%= @bug.user.name %></p>
    <p><strong>Assigned to: </strong><%= @bug.assignee.nil? ? 'None' : @bug.assignee.name %></p>
    <p><strong>Status: </strong><%= @bug.status == '_new' ? 'New' : @bug.status.humanize %></p>
    <p><strong>Deadline: </strong><%= @bug.deadline %></p>
    <p><%= @bug.description %></p>
  </div>
  <img src=<%= url_for(@bug.screenshot) if @bug.screenshot.attached? %> class = 'media-object img-thumbnail' width='50%' />
</div>
<div class="mt-3">
  <% if policy(@bug).add_user? %>
    <%= form_with model: [@project, @bug] do |f| %>
      <div class='form-group'>
        <%= f.label :edit_status %>
        <% if @bug._type == 'feature' %>
          <%= f.select :status, options_for_select(Bug.statuses.filter{ |key, value| value != 3 && @bug.status != key }.map { |key, value| [key == '_new' ? 'New' : key.humanize, key] }), { include_blank: @bug.status.humanize }, class: 'form-control' %>
        <% else %>
          <%= f.select :status, options_for_select(Bug.statuses.filter{ |key, value| value != 2 && @bug.status != key }.map { |key, value| [key == '_new' ? 'New' : key.humanize, key] }), { include_blank: @bug.status.humanize }, class: 'form-control' %>
        <% end %>
      </div>

      <div class='form-group'>
        <%= f.submit 'Change Status', class: 'btn' %>
      </div>
    <% end %>
  <% end %>
</div>
